{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "semi": false,
      "trailingComma": "all"
    }],
    "linebreak-style": 0
  },
  "globals": {
      "_": true,
      "audioList": false
  }
}
